body {
  font-family: Montserrat-thin;
  background-color: #ffe2e2;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  padding-left: 50px;
  font-weight: 700px;
  letter-spacing: 4px;
  font-size: 1rem;
}

.navbar-brand {
  padding-top: 50px;
}
.rowh1{
  /* text-align: center; */
  font-size: 100px;
}
.rowimg1{
  margin-left: 40px;
}
.rowh4{
  text-align: center;
  padding-top: 22px;
  padding-bottom: 70px;
}
.nav-link:hover{
  color: red;
}

form{
  text-align: center;
}
input[type=text]{
  background-color: #ffcb8e;
}
input[type=text]:hover{
  background-color: pink;
}
input[type=number]{
  background-color: #ffcb8e;
  position: relative;
  right: 15px;
}
input[type=number]:hover{
  background-color: pink;
}
input[type=email]{
  background-color: #ffcb8e;
  position: relative;
  left: 3px;
}
input[type=email]:hover{
  background-color: pink;
}
input[type=password]{
  background-color: #ffcb8e;
  position: relative;
  left: 3px;
}
input[type=password]:hover{
  background-color: pink;
}
input[type=submit]{
  background-color: #ffcb8e;
  width: 336px;
}
input[type=submit]:hover{
  background-color: pink;
}
textarea{
  background-color: #ffcb8e;
}
textarea:hover{
  background-color: pink;
}
.phone{
  position: relative;
  right: 15px;
}
.footer1{
  padding-top: 20px;
  text-align: center;
  font-family: Montserrat;
}
.fa-envelope-o{
  text-align: center;
  color:gray;
  padding-bottom: 20px;
  /* padding-top: 20px; */
}
.footer2{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;font-family: Montserrat;
}
a{
  color: black;
  text-decoration:none;

}
.mailfooter{
  padding-top: 25px;
  color: gray;
}
.footerh5{
  font-family: Montserrat;
}
.footer3{
  padding-top: 20px;
  text-align: center;font-family: Montserrat;
}
.introtextfa1{
  /* padding-left: 8px; */
  padding-right: 50px;
  /* padding-top:10px; */
  color:gray;
}
.introtextfa2{
  /* padding-left: 8px; */
  padding-right: 55px;
  /* padding-top:10px; */
  color:gray;
}
.introtextfa3{
  padding-left: 8px;
  /* padding-top:10px; */
  color:gray;
}

footer{
  background-color: #393e46;
  width: 100%;
  color: gray;
  /* padding: 0; */
}
@media screen and (max-width: 990px) {
    .container {
        width: 100%;
    }
    .navbar-nav {
        position: inherit;
        font-size: 1.125rem;
    }
    .navbar-brand {
        width: 50%;
    }
    #nav-name {
        font-size: 2rem;
    }
    #nav-sub {
        font-size: 1.125rem;
    }
    .body-container {
        margin-top: 2rem;
    }
    .rowh1{
      position: relative;
      left: 4px;
      font-size: 80px;
    }
    img{
      position: relative;
       left: 10px;
      text-align: center;
      height: 280px;
      width: 280px;
    }
    .rowh4{
      position: relative;
      top:23px;
    }
}

@media screen and (max-width: 1699px){
    body{
    zoom: 1;
    }
}

@media screen and (min-width: 1700px){
    body{
        zoom: 1.225;;
    }
}
