*{
   margin: 0;
   padding: 0;
}
a{
    color: black;
}
a:hover
{
   color: black;
}
ul{
    text-decoration:none;
    list-style: none
}
li:hover{
   text-decoration:underline;
}
.dropdown:hover .dropdown-menu {
   display: block;
   margin-top: 0; // remove the gap so it doesn't close

}
.dropdown-toggle::after {
   content: none;
}
.btn
{
   font-size: 90%;
   font-weight: 600;
}
.heading2
{
  height: 100vh;
  background-image: url("../images/mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: black;
  overflow-y: hidden;
}
.container-fluid1
{
   background-color: rgb(248, 229, 233);
   padding-bottom: 7%;
}
.container-fluid2{
   background-color: rgb(226, 226, 226);
   padding-top: 3%;
   padding-bottom: 3%;
}
.card-img-top
{
   height: 35vh;
}
.card
{
   margin-right: 2%;
}
.card-title
{
   color: black;
}
.card-text
{
   color: black;
}
.navbar
{
   padding-bottom: 0%;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.col-sm-3 ul li a:hover{
  color: green;
  text-decoration: none;
  font-family: cursive;
  font-size: 18px;
}
footer a:hover{
  text-decoration: none;
  font-family: cursive;
  font-size: 18px;
}

div button:hover{
 width: 130px;
 height: 60px;
}

