body {
  padding: auto;
  margin: auto;
}

#canvas {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/journal.jpg);
}

#canvas #info {
  width: auto;
  height: auto;
  position: absolute;
  top: 54%;
  left: 37%;
  -webkit-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
  color: white;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

nav img {
  width: 55px;
  height: auto;
}

nav li a {
  color: white !important;
  font-size: large;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

nav li a:hover {
  text-decoration: underline !important;
}

h4 {
  font-family: "Josefin Sans", sans-serif !important;
  text-align: center;
  text-decoration: underline;
}

h5 {
  font-family: "Josefin Sans", sans-serif !important;
  text-decoration: underline;
}

h3 {
  font-family: "Josefin Sans", sans-serif !important;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-style: italic;
  text-align: center;
}

#current .container {
  border-radius: 5px;
  background-color: #FFDEE9;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FFDEE9), to(#B5FFFC));
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  border: 1px solid;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  -webkit-box-shadow: 5px 10px #888888;
          box-shadow: 5px 10px #888888;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

#current .container:hover {
  -webkit-box-shadow: 10px 20px #888888;
          box-shadow: 10px 20px #888888;
}

#current .container .class {
  margin: 0 auto;
}

#current .container img {
  position: relative;
  width: 40%;
  height: auto;
  right: -50%;
}

#current .container p {
  margin: 0 auto;
}

#current .container #remove {
  background-color: palevioletred;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#current .container #remove:hover {
  background-color: red;
}

#emotional button {
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 5px;
  cursor: pointer;
  border-radius: 10px;
}

#emotional button:hover {
  background-color: lightgray;
}

#emotional .button-style {
  color: white;
  background-color: lightsalmon;
}

footer {
  background-color: black;
}

footer h5 {
  color: white;
}

footer span {
  margin: 0 auto;
}

footer span a {
  text-decoration: none;
}

footer p {
  color: white;
}

@media (max-width: 1000px) {
  #image {
    display: block;
    position: relative;
    right: 20%;
  }
  #text {
    margin: 0 auto;
  }
  #text p {
    text-align: center;
  }
  #text button {
    position: relative;
    left: 33%;
  }
}
/*# sourceMappingURL=journal.css.map */
