{%extends "dataApp/base.html"%}
{%load static%}
{%block content%}
    <section class="preventionPage">
        <h1 class="display-4 text-center">PREVENTION FROM COVID-19</h1>
        <img src="{%static 'images/3972337.jpg'%}" width="600" height="400" class="infoimg img-fluid" alt="">
        <div class="container">

            <div class="card my-3">
                <div class="row no-gutters pc1">
                  <div class="col-md-4">
                    <img src="{%static 'images/washing hands.png'%}" width="80" height="200" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Wash your hands often</h5>
                      <p class="card-text">Wash your hands often with soap and water for at least 20 seconds especially after you have been in a public place, or after blowing your nose, coughing, or sneezing.</p>
                      <p class="card-text"><b>Avoid touching your eyes, nose, and mouth</b> with unwashed hands.</p>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="card my-3">
                <div class="row no-gutters pc2">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Avoid close contact</h5>
                      <p class="card-text"><b>Inside your home: </b>Avoid close contact with people who are sick.If possible, maintain 6 feet between the person who is sick and other household members.</p>
                      <p class="card-text"><b>Outside your home: </b>Put 6 feet of distance between yourself and people who don’t live in your household.
                        Remember that some people without symptoms may be able to spread virus.
                        Stay at least 6 feet (about 2 arms’ length) from other people.
                        Keeping distance from others is especially important for people who are at higher risk of getting very sick.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="{%static 'images/social distancing.png'%}" class="card-img" alt="...">
                  </div>
                </div>
              </div>

              <div class="card my-3">
                <div class="row no-gutters pc3">
                  <div class="col-md-4">
                    <img src="{%static 'images/face mask.png' %}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Cover your mouth and nose with a mask when around others</h5>
                      <p class="card-text">You could spread COVID-19 to others even if you do not feel sick.The mask is meant to protect other people in case you are infected.</p>
                      <p class="card-text">Everyone should wear a mask in public settings and when around people who don’t live in your household, especially when other social distancing measures are difficult to maintain.
                        Masks should not be placed on young children under age 2, anyone who has trouble breathing, or is unconscious, incapacitated or otherwise unable to remove the mask without assistance.</p>
                      <p class="card-text">Continue to keep about 6 feet between yourself and others. The mask is not a substitute for social distancing.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card my-3">
                <div class="row no-gutters pc4">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Clean and disinfect</h5>
                      <p class="card-text"><b>Clean AND disinfect frequently touched surfaces daily.</b> This includes tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.</p>
                      <p class="card-text"><b>If surfaces are dirty, clean them.</b> Use detergent or soap and water prior to disinfection.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="{%static 'images/disinfection.png'%}" class="card-img" alt="...">
                  </div>
                </div>
              </div>

              <div class="card my-3">
                <div class="row no-gutters pc5">
                  <div class="col-md-4">
                    <img src="{%static 'images/No touch.png'%}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Avoid touching your face</h5>
                      <p class="card-text">Avoid touching any part of your face or head, including your mouth, nose, and eyes. Also avoid biting your fingernails. This can give COVID-19 a chance to go from your hands into your body.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="card my-3">
                <div class="row no-gutters pc6">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Do not gather in groups</h5>
                      <p class="card-text">Being in a group or gathering makes it more likely that you’ll be in close contact with someone.</p>
                      <p class="card-text">This includes avoiding all religious places of worship, as you may have to sit or stand too close to another congregant. It also includes not congregating at parks or beaches.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="{%static 'images/no group.png'%}" class="card-img" alt="...">
                  </div>
                </div>
              </div>

        </div>
    </section>
{%endblock%}