<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style> div.main{
  box-shadow: 0 30px 100px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: white;
  display: inline-block;
  padding: 10px;
  color: black;
  width: 1200px;
  height: 1000px;
}
img {
  border-radius: 50%;
}
h2{
  font-family: 'Baloo Paaji 2', cursive;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1px;
}
h3{
  font-family: 'Baloo Paaji 2', cursive;
  text-align: center;
  margin-top: 0px;
}
</style>
<body style="background-color: aquamarine;">
  <div>
    <div class="main" style="margin-left: 220px;">
      <header>
        <h1 id="title" style=" border-style: double; font-family: 'Baloo Paaji 2', cursive; text-align: center; font-size: 60px; margin-bottom: 1px;">VoiceCription</h1>
        <h2 id="subtitle" style="text-align: center;">Saving lives through digital prescriptions.</h2>
        <h3>{{ user.username }}'s Dashboard</h3>
      </header>
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="height: 35rem; width: 35rem; margin-left: auto; box-shadow: 0 30px 100px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
            <div class="card-body" style="margin-left: 150px; margin-top: 150px;">
            <img src="{{ auth0User.extra_data.picture }}" width="200" height="200" /></br>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="height: 35rem; width: 35rem;box-shadow: 0 30px 100px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
            <div class="card-body">
              <br><br><br><br>
              <h1>Name : {{ user.first_name }}</h1>
              <br>
              <h1>Email: {{ user.email }}</h1>
              <br>
              <h1>ID No.: {{id}}</h1>
              <br><br>
              <form method = "post" enctype="multipart/form-data" action="signature_upload"> 
                {% csrf_token %} 
                {{ form.as_p }} 
                <button type="submit">Upload</button>
                {{signature}}
            </form>
            </div>
            </div>
        </div>
      </div>
      <i class="fa fa-plus-circle" style="font-size:36px; color: black; margin-top: 10px; margin-left: 575px;" onclick="location.href='{% url 'scriptII' %}'" ></i></a>
      <a href="/logout"><button type="button" class="btn btn-outline-success" style="margin-top: 10px; margin-left: 550px;">SignOut</button></a>
      <button type="button" class="btn btn-outline-success" style="margin-top: 10px; margin-left: 537px;" onclick="location.href='{% url 'scriptsearch' %}'">Past Record</button>
      <div style="left: 0; bottom: 0; width: 100%; text-align: center;margin-top: 70px;">
        <p>Copyright 2020 | VoiceCription | Early beta access</p>
      </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
