.test {
	/* Welcome to muzo */

	position: absolute;
	width: 177px;
	height: 31px;
	left: 119px;
	top: 360px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	text-align: center;
	letter-spacing: -0.07em;

	color: #ffffff;
}
body {
	position: relative;
	width: 414px;
	height: 896px;

	background: #151b24;
	border-radius: 40px;
}
.Group7 {
	position: absolute;
	width: 502.38px;
	height: 248.42px;
	left: -44px;
	top: 78px;
}
.Continue {
	/* Continue with */

	position: absolute;
	width: 69px;
	height: 16px;
	left: 172px;
	top: 400px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	/* identical to box height */
	text-align: center;
	letter-spacing: -0.04em;

	color: #ffffff;
}
.Group24 {
	position: absolute;
	width: 348px;
	height: 50px;
	left: 33px;
	top: 486px;

	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 15px;
}
.Group24::placeholder {
	/* position: absolute; */
	color: #969696;
}
.Group23 {
	position: absolute;
	width: 348px;
	height: 50px;
	left: 33px;
	top: 551px;

	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 15px;
}
.Group23::placeholder {
	color: #969696;
}
.SignUp {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 13px 50px;

	position: absolute;
	width: 348px;
	height: 50px;
	left: 33px;
	top: 626px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 132.5%;

	/* Primary/Default */

	background: #2bfeba;
	border-radius: 15px;
}
.OrUsing {
	position: absolute;
	width: 40px;
	height: 16px;
	left: 187px;
	top: 719.14px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.05em;

	color: #ffffff;
}
.ButtonGroup {
	/* position: absolute;
	width: 239px;
	height: 55.68px;
	left: 88px;
	top: 756px; */
}
.Facebook {
	/* position: absolute; */
	position: absolute;
	width: 104px;
	height: 54.68px;
	left: 223px;
	top: 756px;

	background: #4e6297;
	box-shadow: 0px 4px 10px 1px rgba(183, 183, 183, 0.25);
	border-radius: 49px;
	border: none;
}
.Google {
	position: absolute;
	width: 104px;
	height: 54.68px;
	left: 88px;
	top: 757px;

	background: #c5331e;
	box-shadow: 0px 4px 10px 1px rgba(183, 183, 183, 0.25);
	border-radius: 49px;
	border: none;
}
.ConfirmDetails {
	position: absolute;
	width: 254px;
	height: 31px;
	left: 80px;
	top: 100px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	text-align: center;
	letter-spacing: -0.07em;

	color: #ffffff;
}
.FetechImage {
	position: absolute;
	width: 165px;
	height: 16px;
	left: 124px;
	top: 136px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	/* identical to box height */

	text-align: center;
	letter-spacing: -0.04em;

	color: #ffffff;
}
.FirstName {
	position: absolute;
	width: 348px;
	height: 50px;
	left: 33px;
	top: 348px;

	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 15px;
}
.LastName {
	position: absolute;
	width: 348px;
	height: 50px;
	left: 33px;
	top: 418px;

	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 15px;
}
.City {
	position: absolute;
	width: 348px;
	height: 50px;
	left: 33px;
	top: 488px;

	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 15px;
}
.ImageContainer {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 147px;
	top: 182px;
	border-radius: 50%;

	background: #c4c4c4;
}
.Terms {
	position: absolute;
	width: 265px;
	height: 36px;
	left: 75px;
	top: 730px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	letter-spacing: -0.04em;

	color: #ffffff;
}
.Next {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 13px 50px;

	position: absolute;
	width: 348px;
	height: 50px;
	left: 33px;
	top: 786px;

	/* Primary/Default */

	background: #2bfeba;
	border-radius: 15px;
}
.upload {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 190px;
	top: 282px;

	border-radius: 50%;
}
.BodyHome {
	position: relative;
	width: 414px;
	height: 896px;

	background: #151b24;
	border-radius: 40px;
}
.SearchTherapist {
	height: 36px;
	width: 366px;
	left: 24px;
	top: 142px;
	border-radius: 10px;

	position: absolute;
	height: 36px;
	left: 24px;
	right: 24px;
	top: calc(50% - 36px / 2 - 288px);

	background: #767680;
	border-radius: 10px;
}
.Search {
	position: absolute;
	width: 230px;
	height: 36px;
	left: 33px;
	top: 142px;
	background: #767680;
	border-radius: 10px;
	border: none;
}

.searchtext {
	position: absolute;
	left: 2.33%;
	right: 15.33%;
	top: 24.55%;
	bottom: 4.55%;

	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;

	color: #d5d5d6;
}
.searchtextTherapist {
	position: absolute;
	left: 2.33%;
	right: 39.33%;
	top: 18.55%;
	bottom: 4.55%;

	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;

	color: #d5d5d6;
}

.SearchIcon {
	position: absolute;
	left: 2.33%;
	right: 16.33%;
	top: 18.55%;
	bottom: 4.55%;
	font-family: SF Pro Text;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 20px;

	color: #d5d5d6;
}
.SearchCardOne {
	position: absolute;
	width: 348px;
	height: 114px;
	left: 33px;
	top: 198px;
	background: #090c10;
}
.SearchCardTwo {
	position: absolute;
	width: 348px;
	height: 114px;
	left: 33px;
	top: 332px;
	background: #090c10;
}
.SearchCardThree {
	position: absolute;
	width: 348px;
	height: 114px;
	left: 33px;
	top: 466px;
	background: #090c10;
}
.SearchCardFour {
	position: absolute;
	width: 348px;
	height: 114px;
	left: 33px;
	top: 600px;
	background: #090c10;
}
.cardone {
	position: absolute;
	width: 348px;
	height: 297px;
	left: 33px;
	top: 198px;
	background: #090c10;

	/* Tertiary/Dark */
}
.cardtwo {
	position: absolute;
	width: 348px;
	height: 297px;
	left: 33px;
	top: 515px;
	background: #090c10;
}
.filter {
	position: absolute;
	left: 74.5%;
	right: 7.97%;
	top: 16.52%;
	bottom: 80.8%;

	/* background: #ffffff; */
}
.cardImage {
	border-radius: 0px;

	position: absolute;
	left: 13.72px;
	right: 14.59px;
	top: 15.33px;
	bottom: 132.25px;

	background: #c4c4c4;
}

.profile {
	width: 57px;
	height: 57px;
	left: 17px;
	top: 17px;

	background: #c4c4c4;
}

.card-body {
}

.card-title {
	width: 109px;
	height: 21px;

	top: 11.76px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height, or 131% */

	letter-spacing: -0.33px;

	color: #ffffff;
}

.card-text {
	position: absolute;
	width: 151px;
	height: 40px;
	left: 92.44px;
	top: 33.76px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140.2%;
	/* or 20px */

	color: #ffffff;
}

.card-text1 {
	position: absolute;
	width: 67px;
	height: 17px;
	left: 92.44px;
	bottom: -4.24px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 140.2%;
	/* identical to box height, or 17px */

	/* Grey/600 */

	color: #797980;
}

.heart {
	position: absolute;
	left: 85.47%;
	right: 14.37%;
	top: 10.44%;
	bottom: 73.55%;
}

.greenbutton {
	position: absolute;
	width: 28px;
	height: 16px;
	left: 250.47%;

	top: 2px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 132.5%;
	/* identical to box height, or 16px */

	display: flex;
	align-items: center;
	text-align: center;

	color: #2bfeba;

	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 10px;
}
