.test {
	/* Welcome to muzo */

	position: absolute !important;
	width: 177px !important;
	height: 31px !important;
	left: 119px !important;
	top: 360px !important;

	font-family: IBM Plex Sans !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 24px !important;
	line-height: 31px !important;
	text-align: center !important;
	letter-spacing: -0.07em !important;

	color: #ffffff !important;
}
body {
	position: relative !important;
	width: 414px !important;
	height: 896px !important;

	background: #151b24 !important;
	border-radius: 40px !important;
}
.Group7 {
	position: absolute !important;
	width: 502.38px !important;
	height: 248.42px !important;
	left: -44px !important;
	top: 78px !important;
}
.Continue {
	/* Continue with */

	position: absolute !important;
	width: 69px !important;
	height: 16px !important;
	left: 172px !important;
	top: 400px !important;

	font-family: IBM Plex Sans !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 16px !important;
	/* identical to box height */
	text-align: center !important;
	letter-spacing: -0.04em !important;

	color: #ffffff !important;
}
.Group24 {
	position: absolute !important;
	width: 348px !important;
	height: 50px !important;
	left: 33px !important;
	top: 486px !important;

	background: #ffffff !important;
	border: 1px solid #cccccc !important;
	box-sizing: border-box !important;
	border-radius: 15px !important;
}
.Group24::placeholder {
	/* position: absolute!important; */
	color: #969696 !important;
}
.Group23 {
	position: absolute !important;
	width: 348px !important;
	height: 50px !important;
	left: 33px !important;
	top: 551px !important;

	background: #ffffff !important;
	border: 1px solid #cccccc !important;
	box-sizing: border-box !important;
	border-radius: 15px !important;
}
.Group23::placeholder {
	color: #969696 !important;
}
.SignUp {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	padding: 13px 50px !important;

	position: absolute !important;
	width: 348px !important;
	height: 50px !important;
	left: 33px !important;
	top: 626px !important;

	font-family: IBM Plex Sans !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 14px !important;
	line-height: 132.5% !important;

	/* Primary/Default */

	background: #2bfeba !important;
	border-radius: 15px !important;
}
.OrUsing {
	position: absolute !important;
	width: 40px !important;
	height: 16px !important;
	left: 187px !important;
	top: 719.14px !important;

	font-family: IBM Plex Sans !important;
	font-style: normal !important;
	font-weight: 300 !important;
	font-size: 12px !important;
	line-height: 16px !important;
	/* identical to box height */

	text-align: center !important;
	letter-spacing: -0.05em !important;

	color: #ffffff !important;
}
.ButtonGroup {
	/* position: absolute!important;
	width: 239px!important;
	height: 55.68px!important;
	left: 88px!important;
	top: 756px!important; */
}
.Facebook {
	/* position: absolute!important; */
	position: absolute !important;
	width: 104px !important;
	height: 54.68px !important;
	left: 223px !important;
	top: 756px !important;

	background: #4e6297 !important;
	box-shadow: 0px 4px 10px 1px rgba(183, 183, 183, 0.25) !important;
	border-radius: 49px !important;
	border: none !important;
}
.Google {
	position: absolute !important;
	width: 104px !important;
	height: 54.68px !important;
	left: 88px !important;
	top: 757px !important;

	background: #c5331e !important;
	box-shadow: 0px 4px 10px 1px rgba(183, 183, 183, 0.25) !important;
	border-radius: 49px !important;
	border: none !important;
}
.ConfirmDetails {
	position: absolute !important;
	width: 254px !important;
	height: 31px !important;
	left: 80px !important;
	top: 100px !important;

	font-family: IBM Plex Sans !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 24px !important;
	line-height: 31px !important;
	text-align: center !important;
	letter-spacing: -0.07em !important;

	color: #ffffff !important;
}
.FetechImage {
	position: absolute !important;
	width: 165px !important;
	height: 16px !important;
	left: 124px !important;
	top: 136px !important;

	font-family: IBM Plex Sans !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 16px !important;
	/* identical to box height */

	text-align: center !important;
	letter-spacing: -0.04em !important;

	color: #ffffff !important;
}
.FirstName {
	position: absolute !important;
	width: 348px !important;
	height: 50px !important;
	left: 33px !important;
	top: 348px !important;

	background: #ffffff !important;
	border: 1px solid #cccccc !important;
	box-sizing: border-box !important;
	border-radius: 15px !important;
}
.LastName {
	position: absolute !important;
	width: 348px !important;
	height: 50px !important;
	left: 33px !important;
	top: 418px !important;

	background: #ffffff !important;
	border: 1px solid #cccccc !important;
	box-sizing: border-box !important;
	border-radius: 15px !important;
}
.City {
	position: absolute !important;
	width: 348px !important;
	height: 50px !important;
	left: 33px !important;
	top: 488px !important;

	background: #ffffff !important;
	border: 1px solid #cccccc !important;
	box-sizing: border-box !important;
	border-radius: 15px !important;
}
.ImageContainer {
	position: absolute !important;
	width: 120px !important;
	height: 120px !important;
	left: 147px !important;
	top: 182px !important;
	border-radius: 50% !important;

	background: #c4c4c4 !important;
}
.Terms {
	position: absolute !important;
	width: 265px !important;
	height: 36px !important;
	left: 75px !important;
	top: 730px !important;

	font-family: IBM Plex Sans !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 14px !important;
	line-height: 18px !important;
	text-align: center !important;
	letter-spacing: -0.04em !important;

	color: #ffffff !important;
}
.Next {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	padding: 13px 50px !important;

	position: absolute !important;
	width: 348px !important;
	height: 50px !important;
	left: 33px !important;
	top: 786px !important;

	/* Primary/Default */

	background: #2bfeba !important;
	border-radius: 15px !important;
}
.upload {
	position: absolute !important;
	width: 36px !important;
	height: 36px !important;
	left: 190px !important;
	top: 282px !important;

	border-radius: 50% !important;
}
.BodyHome {
	position: relative !important;
	width: 414px !important;
	height: 896px !important;

	background: #151b24 !important;
	border-radius: 40px !important;
}
.SearchTherapist {
	height: 36px !important;
	width: 366px !important;
	left: 24px !important;
	top: 142px !important;
	border-radius: 10px !important;

	position: absolute !important;
	height: 36px !important;
	left: 24px !important;
	right: 24px !important;
	top: calc(50% - 36px / 2 - 288px) !important;

	background: #767680 !important;
	border-radius: 10px !important;
}
.Search {
	position: absolute !important;
	width: 230px !important;
	height: 36px !important;
	left: 33px !important;
	top: 142px !important;
	background: #767680 !important;
	border-radius: 10px !important;
	border: none !important;
}

.searchtext {
	position: absolute !important;
	left: 2.33% !important;
	right: 15.33% !important;
	top: 24.55% !important;
	bottom: 4.55% !important;

	font-family: SF Pro Text !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 17px !important;
	line-height: 20px !important;

	color: #d5d5d6 !important;
}
.searchtextTherapist {
	position: absolute !important;
	left: 2.33% !important;
	right: 39.33% !important;
	top: 18.55% !important;
	bottom: 4.55% !important;

	font-family: SF Pro Text !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 17px !important;
	line-height: 20px !important;

	color: #d5d5d6 !important;
}

.SearchIcon {
	position: absolute !important;
	left: 2.33% !important;
	right: 16.33% !important;
	top: 18.55% !important;
	bottom: 4.55% !important;
	font-family: SF Pro Text !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 17px !important;
	line-height: 20px !important;

	color: #d5d5d6 !important;
}
.SearchCardOne {
	position: absolute !important;
	width: 348px !important;
	height: 114px !important;
	left: 33px !important;
	top: 198px !important;
	background: #090c10 !important;
}
.SearchCardTwo {
	position: absolute !important;
	width: 348px !important;
	height: 114px !important;
	left: 33px !important;
	top: 332px !important;
	background: #090c10 !important;
}
.SearchCardThree {
	position: absolute !important;
	width: 348px !important;
	height: 114px !important;
	left: 33px !important;
	top: 466px !important;
	background: #090c10 !important;
}
.SearchCardFour {
	position: absolute !important;
	width: 348px !important;
	height: 114px !important;
	left: 33px !important;
	top: 600px !important;
	background: #090c10 !important;
}
.cardone {
	position: absolute !important;
	width: 348px !important;
	height: 297px !important;
	left: 33px !important;
	top: 198px !important;
	background: #090c10 !important;

	/* Tertiary/Dark */
}
.cardtwo {
	position: absolute !important;
	width: 348px !important;
	height: 297px !important;
	left: 33px !important;
	top: 515px !important;
	background: #090c10 !important;
}
.filter {
	position: absolute !important;
	left: 74.5% !important;
	right: 7.97% !important;
	top: 16.52% !important;
	bottom: 80.8% !important;

	/* background: #ffffff!important; */
}
.cardImage {
	border-radius: 0px !important;

	position: absolute !important;
	left: 13.72px !important;
	right: 14.59px !important;
	top: 15.33px !important;
	bottom: 132.25px !important;

	background: #c4c4c4 !important;
}

.profile {
	width: 57px !important;
	height: 57px !important;
	left: 17px !important;
	top: 17px !important;

	background: #c4c4c4 !important;
}

.card-body {
}

.Name {
	position: absolute !important;
	width: 109px !important;
	height: 21px !important;
	left: 92.65px !important;
	top: 15.76px !important;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 16px !important;
	line-height: 21px !important;
	/* identical to box height, or 131% */

	letter-spacing: -0.33px !important;

	color: #ffffff !important;
}

.card-text {
	position: absolute !important;
	width: 151px !important;
	height: 40px !important;
	left: 92.44px !important;
	top: 36.76px !important;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
	font-style: normal !important;
	font-weight: 100 !important;
	font-size: 14px !important;
	line-height: 140.2% !important;
	/* or 20px */

	color: #ffffff !important;
}

.card-text1 {
	position: absolute !important;
	width: 67px !important;
	height: 17px !important;
	left: 92.44px !important;
	bottom: -75.24px !important;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 140.2% !important;
	/* identical to box height, or 17px */

	/* Grey/600 */

	color: #797980 !important;
}
.Movebutton {
}
p {
	margin-bottom: 10px !important;
}
.heart {
	position: absolute !important;
	left: 85.47% !important;
	right: 14.37% !important;
	top: 22.44% !important;
	bottom: 73.55% !important;
}

.greenbutton {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	padding: 13px 50px !important;

	/* position: absolute!important; */
	width: 60.52px !important;
	height: 20px !important;
	left: 311px !important;
	top: 279px !important;

	border: 1px solid #2bfeba !important;
	box-sizing: border-box !important;
	border-radius: 15px !important;
}
.outline-success {
	border: none !important;
}
