body{
	background-image: url(../images/bg.jpg);
	font-family: arial;
	color: #333;
}

#footer{
	position: fixed;
	bottom: 0px;
}

#menu{
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	height: 30px;
	padding: 8px 20px 3px 20px;
}

.menu_item{
	text-decoration: none;
	color: #0c8505;
	font-size: 20px;
	border: 1px solid #0c8505;
	padding: 3px 12px;
	background-color: #fff;
}

#home{
	height: 24px;
}

h1{
	color: black;
}