#navbar  .dropdown{
    display: none;
}
#logo{
    margin: 5px  10px;
    font-size: 0.9rem;
}
#logo img{
    height: 32px;
    margin: 3px 5px;
}
#logo p{
    margin: 8px 0px;
    padding: 0px 7px;
}
#navbar ul li{
    padding: 0px 7px;
    font-size: 0.9rem;
}

#navbar ul li a{
    border-radius: 17px;
    padding: 3px 10px;
}

#service2, #service, #service3{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

#service .box, #service2 .box, #service3 .box{
    margin: 15px auto;
}

#service .box img, #service2 .box img, #service3 .box img{
    height: 220px;
    margin: auto;
    display: block;
}

#rev .card {
    padding: 5px 15px;
    margin: 6px 10px;
    margin-bottom: 30px;
}

#rev .card img{
    height: 80px;
}

.primary-h1{
    font-size: 1.6rem;
    padding: 10px;
}

.secondary-h{
    font-size: 1.1rem;
    padding: 10px;
}

.ternary-h{
    font-size: 0.9rem;
    font-family: 'Bree Serif', serif;
    padding: 10px;
}
#about h1{
    font-size: 1.6rem;
    padding: 10px;
}    
#about p{
    font-size: 0.9rem;
}
#hd h1{
    color: black;
    border-radius: 10px;
    background-color: rgb(239 245 251 / .4);
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}    
#hd p{
    font-size: 0.9rem;
}
#painting, h1{
    font-size: 1.8rem;
    padding: 10px;
}    
#painting p{
    font-size: 0.9rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 6px;
    font-size: 0.8rem;
}
#contact-box  form{
    widows: 37% ;
}

#contact-box  label{
    font-size: 0.9rem;
}
footer{
    padding: 8px 15px;
}