*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.mt-10{
    margin-top: 10px;
}
.ml-30{
    margin-left: 30px;
}
.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mt-40{
    margin-top: 40px;
}
.gap-30{
    margin-bottom: 30px;
}
.gap-40{
    margin-bottom: 40px;
}
.reg-wrapper span.errort{
    color: red;
    margin-left: 30%;
    margin-bottom: 20px;
    
}
.reg-body span.error{
    color: red;
    margin-left: 170px;
    margin-bottom: 10px;
    margin-top: -5px;
}
.reg-body span.success{
    color: #218838;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -5px;
    padding: 10px;
}
.border{
    width: 60px;
    height: 5px;
    background: #fff;
}
.borderc{
    width: 85px;
    height: 5px;
    background: #333;
    position: absolute;
    top: 140px;
    left: 47%;
   
}
.main-content{
    width: 100%;
    height: auto;
    overflow: hidden;
    

}
.main-content .left-sidebar{
    width: 20%;
    height: auto;
    background: #073f5f;
    float: left;
}
.main-content .left-sidebar .p-title{
    width: 100%;
    padding: 13px;
    padding-left: 20px;
    background: #073f5f;
    border-bottom: 1px solid #ddd;
}
.main-content .p-title a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}
.main-content .p-title a i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 17px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.main-content .p-title a span{
    margin-left: 10px;
}
.main-content .left-sidebar .profile{
    width: 100%;
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
    
}
.main-content .left-sidebar .profile .profile-pic{
    width: 40%;
    float: left;
    
}
.main-content .left-sidebar .profile img{
    width: 85px;
    height: 85px;
    position: inherit;
    padding: 4px;
    background: #fff;
    overflow: hidden;
}
.main-content .left-sidebar .profile .profile-info{
    width: 60%;
    float: left;
    color: #fff;
    
}
.main-content .left-sidebar .profile .profile-info h2{
    font-size: 23px;
}

.sidebar-menu{
    color: #fff;
    width: 100%;
    padding-top: 60px;
    padding-left: 0;
}
.sidebar-menu h3{
    margin-left: 20px;
    font-size: 24px;
}
.sidebar-menu .border{
    margin-left: 20px;
    margin-bottom: 20px;
}
.sidebar-menu ul li a{
    text-decoration: none;
    color: #eee;
    width: 270px;
    padding: 15px 20px;
    font-size: 13px;
    display: block;
    text-transform: capitalize;
    transition: all .5s ease;
}
.sidebar-menu ul li a:hover{
    background: #333;
    color: #fff;

}
.sidebar-menu ul{
    padding-left: 0;
    
   
}
.sidebar-menu ul li{
   
     
       
}
.sidebar-menu  ul li a i{
    margin-right: 10px;
    font-size: smaller;
}
.sidebar-menu ul li a span{
    float: right;
    
}
.sidebar-menu .menus1,
.sidebar-menu .menus2,
.sidebar-menu .menus3,
.sidebar-menu .menus4,
.sidebar-menu .menu5{
    display: none;
}
.sidebar-menu .menus1 li,
.sidebar-menu .menus2 li,
.sidebar-menu .menus3 li,
.sidebar-menu .menus4 li{
    margin-left: 60px;

    

}
.sidebar-menu .menus1 li a,
.sidebar-menu .menus2 li a,
.sidebar-menu .menus3 li a,
.sidebar-menu .menus4 li a{
    padding: 0;
    padding: 10px;
    padding-left: 0;
}
.sidebar-menu .menus1 li a:hover,
.sidebar-menu .menus2 li a:hover,
.sidebar-menu .menus3 li a:hover,
.sidebar-menu .menus4 li a:hover{
    background: 0;
    color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .active>.nav-link{
    
   

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    border-right: 5px solid #1ABB9C;
    border-radius: 0;
    
}


.nav-pills li {
    background: 0;
}
  

.content{
    width: 80%;
    height: auto;
    float: right;
   
}
.content .inner{
    width: 100%;
    height: 70px;
    background: #073f5f;
    padding: 12px;


    
    
}

.content .inner .heading{
   width: 60%;
   float: left;
   color: #fff;
}
.content .inner .header-profile{
   width: calc(40%-20px); 
   float: right;
   margin-right: 20px;
    position: relative;
}
.content .inner .header-profile .icon{
    
}
.content .inner .header-profile .icon i{
    margin-right: 30px;
    font-size: 16px;
    margin-top: 10px;
}

.header-profile .dropdown span{
    color: #fff;
    margin-left: 10px;
}
.header-profile .icon span{
    color: #fff;
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 11px;
    width: 14px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 4px;

    background: #FA3E3E;
}
.header-profile ul li{

       list-style: none;
       float: left;
    
}
.header-profile ul li i{
    color: #fff;

}
.header-profile .header-info{
   
}
.header-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;

}

.dropdown a{
    text-decoration: none;
    color: #fff;

}
.dropdown img{
    width: 45px;
    height: 45px;
    border-radius: 50%;

}
.dropdown-menu{
    background: #073f5f;
    color: #fff;
    min-width: 240px;
    padding: 20px;
     margin-left: -40px; 
     top: 56px;
     border-radius: 0;
     border-top: 1px solid #ddd;

}
.dropdown-menu img{
    margin-left: 18px;
}
.dropdown-menu .user-header p{
    margin-bottom: 5px;
    margin-top: 8px;
    margin-left: 16px;
}
.dropdown-menu .user-footer{
    margin-top: 20px;
}
.dropdown-menu .user-footer ul li{
    list-style: none;
    float: left;
}
.dropdown-menu .user-footer a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    padding: 7px 16px;
    background: #333;
    margin-left: 10px;
}
.dropdown-menu .user-footer a:hover{
    color: orange;
}
/*dashboard-header*/
.dashboard-content{
    padding-bottom: 30px;
}
.dashboard-header .left{
    padding: 20px;

}

.dashboard-header .left p span{
    text-transform: capitalize;
    margin-right: 10px;
    font-weight: bold;

}
.dashboard-header .right{
    padding: 20px;
    margin-right: 20px;
}
.dashboard-header .right a{
    text-transform: capitalize;
    text-decoration: none;
    color: #222;
    margin-right: 15px;
    font-weight: bold;

}
.dashboard-header .right a i{
    margin-right: 5px;
}
.dashboard-header .right span{
    text-transform: capitalize;
}
.counterup .box{
    width: 100%;
    height: 100px;
    background: #00C0EF;
    padding: 10px 10px;
    margin-bottom: 30px;
    color: #fff;

}
.counterup .box2{
    background: #00A65A;
}
.counterup .box3{
    background: #DD4B39;
}
.counterup .box4{
    background: #F39C12;
}
.counterup .box:hover{
    transform: scale(1.1);
     -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    -ms-transition: ease .5s all;
    -o-transition: ease .5s all;
    transition: ease .5s all;
}
.counterup .box .icon{
    width: 15%;
    float: right;
}
.counterup .box .text{
    width: 85%;
    float: left;
}
.counterup .box i{
    font-size: 30px;
    color: #ddd;
    margin-top: 20px;
}
.counterup .box span{
    margin-right: 5px;
}
.counterup .box h2{
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
}
.counterup .box h4 a{
    text-decoration: none;
    text-transform: capitalize;
    
    margin-top: 0;
    color: #fff;
}

/*=======
    st-registraion
========*/

.registration{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.reg-header h4{
    margin-top: 20px;
}
.reg-body.user-content{
   margin: 0;

}
.reg-body{
    width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 3px;
    padding: 40px 25px;
    background: #ddd!important;
}

.reg-body .form-group{
    margin-bottom: 16px;
    
}
.reg-body label{
    width: 140px;
   margin-right: 20px;
   
}
.reg-body .custom{
    width: 350px;


}

.registration .reg-body input[type=text],
.registration .reg-body input[type=password],
.registration .reg-body textarea{
    outline: 0!important;
    border: 1px solid #D52B2A;
}
.form-inline label{
    text-align: right;
    display: block;
    font-weight: bold;
}
.reg-body .submit{
    margin-top: 25px;
    margin-left: 200px;


}
.reg-body .form-group span{
    color: red;
}
.reg-body .submit .change{
    background: #D52B2A;
    border:  none;
    color: #fff;
    margin-left: 30px;
}
.login{
    position: relative;
}
.login-body{
    
    width: 320px;
    
}
.login-body a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 50px;
    
}
.login-body .reset_pass{

    text-decoration: underline;
    text-decoration-color: #D52B2A;
}
.login-body .submit{
    background: #D52B2A;
    border: none;
}
.login-content{

    width: 400px;
    margin: 0 auto;
    background: #ddd;
    padding: 40px;
    box-shadow: 0px 0px 3px;
}
.login-footer .change_link a{
    color: #D52B2A;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
}
/*student info*/
.std-info table tbody{
    font-size: 14px;
}
.bstore{
    width: 600px;
    margin-left: 30px;
}
.dbooks table thead{
    font-size: 16px;
}
.dbooks table tbody{
    font-size: 14px;
    background: #2C3034;
    color: #fff;
}
.dbooks table tbody img{
    width: 100px;
    height: 120px;
}
.dbooks table tbody a{
    text-decoration: none;
    color: #C82333;
    font-size: 25px;
}

/*pagination*/

.pagination{
    margin-top: 20px;
    margin-left: 150px;
    
}
.pagination ul li{
    

}
.pagination ul li a{
     color: #333;
     border: 1px solid #ffb607;
     margin-right: 8px;
}
.pagination ul li:hover a{
    background: #ffb607;
    color: #fff;
}
.profile-content{
    width: 100%;
}
.profile-content .photo{
    width: 250px;
    height: 300px;
}
.photo img{
    width: 250px;
    height: 300px;

}
.details{
    padding: 35px 25px;
    width: 100%;
    
    box-shadow: 0px 0px 3px;
}
.rbook-info tbody{
    font-size: 14px;
}
.rbook-info a{
    text-decoration: none;
    color: #fff;
}
.nav-link.active{
    background: red;
}
.status ul li{
    list-style: none;
    float: left;
    margin-left: 16px;
}
.status ul li:nth-child(2) i{
    color: red;
}
.sidebar-menu ul li a{
   
}
.sidebar-menu ul li a.active{
    background: #fff;
    color: #000;
}
.sidebar-menu li.active a{

    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
    border-right: 5px solid #1ABB9C;
}
tbody{
    font-size: 14px;
}
.control-books img{
    width: 180px;
    height: 220px;
}
.control-books .bimage{
    margin-bottom: 30px;
}
.control-books h3{
    font-size: 20px;
}
.details{
    width: 100%;
    padding-bottom: 20px;
}
.details .details-control{
    width: 48%;
    margin-right: 2%;
    float: left;
}
.details .details-control:nth-child(2n+2){
    margin-right: 0;
}
.pass-content{
	width: 550px;
	margin: 0 auto;
    box-shadow: 0px 0px 3px;
    padding: 40px 30px;
	
}
.pass-content input[type=password]{
    border: 1px solid #D52B2A;
}
.pass-content input[type=submit]{
    background: #D52B2A;
    color: white;
}
.issue-content{
	width: 700px;
	margin-left: 50px;
}
.issue-content .bdr{
    outline: 0!important;
    border: 1px solid red;
}
.issue-content input[type=submit]{
	background: #D52B2A;
    color: white;
}